seq2seqlite_student_proj/*/.autopilot/
seq2seqlite_student_proj/*/.Xil/
seq2seqlite_student_proj/*/csim/build/
seq2seqlite_student_proj/*/sim/
vitis_hls.log
*.jou
*.str
*.log
seq2seqlite_student_paper_repro_proj/
seq2seqlite_student_paper_repro_streaming4_proj/
seq2seqlite_student_paper_repro_streaming8_proj/
paper_reproduction_reports/
